<mat-toolbar>
  <mat-toolbar-row class="row">
    <div class="branding col-md-2 col-lg-2 col-sm-12">
      <span><img src="./assets/logo/otis_logo.png" style="height:8vh;"></span>
      <!-- <mat-slide-toggle checked (click)="sidenav.toggle()"></mat-slide-toggle> -->
      <mat-icon (click)="sidenav.toggle()" color="primary">menu</mat-icon>
    </div>
    <div class="search col-md-4 col-lg-4 col-sm-12">
      <mat-icon color="primary">search</mat-icon>
      <mat-icon color="primary">fullscreen</mat-icon>
    </div>
    <div class="notifictions col-md-6 col-lg-6 col-sm-12">
      <mat-icon color="primary">notification_important</mat-icon>
      <mat-icon color="primary">chat</mat-icon>
      <mat-icon color="primary">settings</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>