<div class="row">
  <div class="card-wrapper col-sm-6 col-md-4 col-lg-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-8"><span>$30200</span><br><span>All Earnings</span></div>
          <div class="col-4">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </div>

      </mat-card-content>
      <mat-card-footer style="background: linear-gradient(to right, #fe9365, #feb798);">
        <div class="row">
          <div class="col-8">% change</div>
          <div class="col-4">
            <mat-icon>show_chart</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card-wrapper col-sm-6 col-md-4 col-lg-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-8"><span>$30200</span><br><span>All Earnings</span></div>
          <div class="col-4">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer style="background: linear-gradient(to right, #0ac282, #0df3a3);">
        <div class="row">
          <div class="col-8">% change</div>
          <div class="col-4">
            <mat-icon>show_chart</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card-wrapper col-sm-6 col-md-4 col-lg-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-8"><span>$30200</span><br><span>All Earnings</span></div>
          <div class="col-4">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer style="background: linear-gradient(to right, #fe5d70, #fe909d);">
        <div class="row">
          <div class="col-8">% change</div>
          <div class="col-4">
            <mat-icon>show_chart</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="card-wrapper col-sm-6 col-md-4 col-lg-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-8"><span>$30200</span><br><span>All Earnings</span></div>
          <div class="col-4">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </div>

      </mat-card-content>
      <mat-card-footer style="background: linear-gradient(to right, #01a9ac, #01dbdf);">
        <div class="row">
          <div class="col-8">% change</div>
          <div class="col-4">
            <mat-icon>show_chart</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class=" line-chart row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        Chart header
      </mat-card-header>
      <mat-card-content>
        chart goes here
      </mat-card-content>
      <mat-card-footer>
        chart footer
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 col-lg-4">
    <mat-card>
      <mat-card-header>
        Chart header
      </mat-card-header>
      <mat-card-content>
        chart goes here
      </mat-card-content>
      <mat-card-footer>
        chart footer
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    <mat-card>
      <mat-card-header>
        Chart header
      </mat-card-header>
      <mat-card-content>
        chart goes here
      </mat-card-content>
      <mat-card-footer>
        chart footer
      </mat-card-footer>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-header>
        Chart header
      </mat-card-header>
      <mat-card-content>
        chart goes here
      </mat-card-content>
      <mat-card-footer>
        chart footer
      </mat-card-footer>
    </mat-card>
  </div>
</div>
